.hidden {display: none;}

.container {
    display: flex;
}
  
  .container svg {
    width:90%;
  }
  
  .centre {
    text-align: center;
    margin:0;
    padding:0;
    text-decoration: underline;
    font-style: italic;
    font-size: large;
    
  }

 .box_head {
   width: 100%;
   height: 3em;
   background-color: rgb(241, 221, 40);
   
 } 

 .container img {
   width: 100%;
   height: 100%;
 }
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5em;
}

.grid_2item {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-rows: auto;
  
  
 
}
